@import "tailwindcss";

/* Contenedor general */
::-webkit-scrollbar {
  width: 8px; /* ancho vertical */
  height: 7px; /* alto horizontal */
}

/* Fondo de la scrollbar */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Barra en sí */
::-webkit-scrollbar-thumb {
  background: #041b45;
  border-radius: 10px;
}

/* Hover sobre la barra */
::-webkit-scrollbar-thumb:hover {
  background: #02112c;
}


/* Estilos para la barra de progreso del reproductor */
.progress-container {
  position: relative;
  width: 100%;
  height: 7px;
  background-color: #9e9e9e;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.progress-filled {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: rgb(255, 87, 34); /* ← Tu color RGB dinámico */
  transition: width 0.2s ease;
}

.custom-range-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
  pointer-events: auto;
}


/* Bordes animado */

.animated-gradient {
  background: linear-gradient(
    270deg,
    #f87171,
    #fbbf24,
    #34d399,
    #60a5fa,
    #a78bfa,
    #f87171
  );
  background-size: 600% 600%;
  animation: gradientMove 4s linear infinite;
  border-radius: 0.75rem; /* igual que rounded-xl */
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}